sina.txt
Csv/invoicesByHour
Csv/countriesByDay
Csv/productsByDay
Csv/invoices
Csv/users
Csv/products
test.sh
beeline.txt
.metals
.vscode
crontabs/*.*
sparkdata/*/target
sparkdata/*/project/target
sparkdata/*/project/*.cache
sparkdata/*/project/*.class
sparkdata/*/project/project
bool/bool.txt
crontabs/namenode.txt
